header{
  padding : 1em 0;
  margin : 0 auto !important;
}

.header-nav {
  gap : 3em;
}

.flex {
display : flex;
align-items: center;
justify-content: space-between;
}

.container{
  max-width : 90%;
  margin : 1.5em auto;
}

.hero-image{
  width: 600px;
  height: 600px;
}

.hi{
  margin-top : -4em;
  padding: 2em 2em;
}

.services-list img{
  height:300px;
  width:300px;
}

.jk{
  text-align: center;
}

.lolo{
  max-width: 40%;
}

.footer{
  padding-block: 4em;
  background-color: darkcyan;
  color: white;
}

ul{
  list-style: none;
  padding : 0;
}

.footer p , h2{
  text-align: center;
}